@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  background-color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.MuiDialog-paper {
  padding: 15px;
}

button.MuiButton-containedSecondary {
  margin-bottom: 10px;
}


.step-indicator {
  display: flex;
  margin: 50px 80px 5px;
  justify-items: center;
  align-items: center;
  padding: 10px 40px;
}

.step {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.step-indicator .step-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #c2c2c2;
  font-size: 10px;
  text-align: center;
  color: #ffffff;
  position: relative;
  line-height: 50px;
  font-size: 20px;
}

.step.active .step-icon {
  background: crimson;
}

.step p {
  text-align: center;
  position: absolute;
  bottom: -42px;
  color: #c2c2c2;
  font-size: 16px;
  font-weight: bold;
  /* margin-top: 10px; */
}

.step.active p {
  color: crimson;
}

.step.step2 p,
.step.step3 p {
  left: 50%;
  transform: translateX(-50%);
}

.indicator-line {
  width: 70%;
  height: 2px;
  background: #c2c2c2;
  flex: 1;
}

.indicator-line.active {
  background: crimson;
}

@media screen and (max-width: 500px) {
  .step p {
    font-size: 11px;
    bottom: -20px;
  }
}


#lab_social_icon_footer a {
  color: #333;
}

#lab_social_icon_footer .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#lab_social_icon_footer .social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */

  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

#lab_social_icon_footer #social-fb:hover {
  color: #bec1c6;
}

#lab_social_icon_footer #social-tw:hover {
  color: #4099ff;
}

#lab_social_icon_footer #social-gp:hover {
  color: #d34836;
}

#lab_social_icon_footer #social-em:hover {
  color: #f39c12;
}

.header-logo {
  width: 150px;
  border-radius: 6px;
  margin-right: 18px;
  padding-top: 10px;
}

.header-color {
  color: #dabb59;
}

.header-bg{
  background-color: black;
  color: white;
  margin-top: -1%;
  padding: 0 15%;
  padding-top: 150px;
  padding-bottom: 150px;
  
}