.iconContainer {
    display: flex;
    flex-direction: row; 
    gap: 2rem;
    justify-content: center;
}

.icon {
    margin-left: 7px;
    margin-right: 7px;
    max-width: 35px;
    max-height: 35px;
    transition: all ease .2s;
    
}

.icon:hover {
    cursor: pointer;
    transition: all ease .2s;
    transform: scale(1.2);
}